[Desktop Entry]
Type=Application
Exec=setxkbmap de
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Set keyboard
Name=Set keyboard
Comment[en_US]=
Comment=
